.jumbotron#contact
 .container
  h1.text-center Contact
  p
   .row
    //.col-sm-4.text-center
      //img(src="images/david-pic.jpg" class="img-thumbnail" alt="David M" width="200")
    .col-sm-12.text-center
      p Feel free to contact me via E-Mail or phone. 
      p
        span.glyphicon.glyphicon-map-marker
        |  Munich, Germany
      p
        span.glyphicon.glyphicon-phone
        |  +49 175 20 79 343
      p
        span.glyphicon.glyphicon-envelope
        |  info@davidmitterer.de
 