.spacer
    .jumbotron.bg-green-img(id="gapps")
        .container
                        h1 Google App Script CRM
                        p Google App Script has turned into a very sophisticated developer plattform that offers a front- and pseudo backend experience. By using Google Sheets as a SQL "database" I've coded this proof of concept that shows the capabilities of Google App Script.   
                        p One of the major downsides is that you cannot implement it via i-frame. It has to run on its own. Try username 'admin' and password 'admin' or create a new user to get access.             
                        .btn-group
                            a.btn.btn-primary.btn-lg(href="https://script.google.com/macros/s/AKfycbzi2OzIZa9Z3J_c77qJIdfc4MzDX_mZCY1V9xCLK1jCVrjtgMGj/exec" target = "blank") Go to working prototype 
                            a.btn.btn-success.btn-lg(href="https://github.com/Davor111?tab=repositories" target = "_blank") Go to github project page  